:root {

  /*COLORS*/
  --color-green: #D0DD28;
  --color-green2: rgba(208, 221, 40, .3);
  --color-green3: #F1E332;
  --color-purple: #1327C1;
  --color-purple2:#0e1c87ff;
  --color-white: #ffffff;
  --color-white2: #f5f5f5ff;
  --color-red: #ec002f;
  --color-orange: #f44337;
  --color-g1: #1E1E1E;
  --color-g2: #2c2c2c;
  --color-g3: #f4f4f4;
  --color-g4: #e6e6e6ff;
  --color-bege: #E6C6B2;
  --color-black: #000000;
  --color-yellow: #cfde28ff;
  --color-transparent: transparent;

  /*FONTS*/
  --font-1: Montserrat;
  --font-2: "Poppins", "Sans-serif" ;
}
