

.pre-nav {
  height: 60px;
  display: flex;
  background-color: var(--color-g2);
  color: var(--color-white);
  font: 300 .8rem var(--font-2);
  letter-spacing: -.4px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.contact {
  display: flex;
  gap: 60px;
  align-items: center;
  margin-right: 160px;
}

.contact__tel {
  position: relative;
}

.contact__tel::before {
  content: url("../../../../imgs/icons/telephone.svg");
  position: absolute;
  top: 0px;
  left: -30px;
}

.contact__email {
  position: relative;
}

.contact__email::before {
  content: url("../../../../imgs/icons/email.svg");
  position: absolute;
  top: -90px;
  left: -30px;
}

/*ICONES DAS REDES SOCIAIS*/
.social {
  display: flex;
  gap: 18px;

}

i {
  color: var(--color-white);
  transform: scale(1);
  transition: color .15s, transform .4s;
}

.social__icon:hover i {
  color: var(--color-green);
  transform: scale(1.2);
}








