.section9 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 80px 50px 100px;
  background-color: var(--color-g3);
  background-color: var(--color-white2);
}

.section9__title {
  color: var(--color-black);
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4em;
  margin-bottom: 25px;
}

.section9__text {
  color: var(--color-g2);
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.section9__wrapper {
  display: flex;
  align-items: center;
  width: 178px;
  justify-content: center;
  gap: 10px;
}

.section9__card {
  display: flex;
  flex-direction: column;
}

.section9__card img {
  border: solid .5px var(--color-g4);
}

.p-box {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: start;

}

.section9__text-card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: var(--color-white);
  gap: 10px;
  border: solid .5px var(--color-g4);
}

.section9__text-card h2 {
  margin-block: 10px;
}

.section9__text-card a {
  font-weight: 900;
  font-size: 12px;
  color: var(--color-green3);
  transition: all .8s;
}

.section9__text-card a:hover {
  color: var(--color-purple2);
}