.section13 {
  background-color: #0d22bdff;

  background-position: center;
  object-fit: contain;
  display: flex;
  padding: 40px;
  align-items: center;
  justify-content: center;
}

.section13__wrapper {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.section13__info {
  max-width: 565px;
  height: 230px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.section13__info h2 {
  color: var(--color-green);
  font-size: 24px;
  font-weight: 700;
}

.section13__info p {
  color: var(--color-white);
  font-size: 17px;
  font-weight: 400;
}

.section13__img {
  max-width: 550px;
  height: 210px;
  transition: all .3s;
}

.section13__img:hover {
  transform: scale(.9);
}

.section13__btn {
  background-color: var(--color-green);
  color: var(--color-purple);
  font-weight: 700;
  margin-top: 20px;
  padding-block: 10px;
  border-radius: 5px;
  text-align: center;
  transition: all .2s;
  font-size: 20px;
  width: 400px;
}

.section13__btn:hover {
  color: var(--color-white);
  background-color: var(--color-g2);
  transform: scale(1.1);
}